<h1>Editing Commentary</h1>

<%= render 'form', commentary: @commentary %>

<div class="btn btn-info"> <%= link_to 'Show', @commentary %> </div>
<div class="btn btn-danger"><%= link_to 'Back', post_path(@commentary.post_id) %> </div>
